<!-- -*- mode: XML -*- -->

<launch>
	<!-- Parameters -->
		<param name="sendTraj" value="0" type="double" />

	<!-- Nodes -->
		<!-- roscore -->
		<!-- rosrun rosserial_python serial_node.py /dev/ttyACM0 __name:=ard_cmd -->
		<!-- rosrun rosserial_python serial_node.py /dev/ttyUSB0 __name:=fg_adc -->
		<!-- cd ~/gitRepos/forceFeedback && source devel/setup.bash && roslaunch optoforce optoforce.launch -->
		<!-- cd ~/gitRepos/forceFeedback && source devel/setup.bash && roslaunch combineJoyAndCompController allLaunch.launch-->

		<!-- Combine control to arduino -->
		<node pkg="combineJoyAndCompController" 
			type="combineSignalsToArduinoFG.py" 
			name="combineSignalsToArduinoFG" 
			output="screen"/> 

		<!-- Computer generated control signal -->
		<node pkg="computerForceTrajectory" 
			type="computerForceTrajectory.py" 
			name="computerForceTrajectory" 
			output="screen"/> 

		<!-- RQT plot -->
		<node pkg="rqt_plot" 
			type="rqt_plot" 
			name="rqt_plot" 
			output="screen"
			args="/command2Arduino /measurement2Arduino /compForceTraj" /> 

		<!-- Rosbag recording -->
		<node pkg="rosbag" 
			type="record" 
			name="recorder" 
			args="-a -o /home/jacob/gitRepos/forceFeedback/src/combineJoyAndCompController/subjectTrials/"/> 

	<!-- Launch files 
		<include file="/home/jacob/gitRepos/forceFeedback/src/optoforce/optoforce/launch/optoforce.launch"/> -->
</launch>
